.header {
  width: 100%;
  height: 70px;
  line-height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 111111;
  background-image: url(../../../public/time.jpg);
  background-size: cover;
  border-bottom: 1px solid #827066;
}
.header__shrink {
  background-color: #ae9f97;
  border-bottom: 1px solid #827066;
  opacity: 0.92;
}

.image {
  margin-left: 15px;
  height: 45px;
  width: 45px;
}

.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}

.nav__list {
  margin-left: 250px;
  display: flex;
  align-items: end;
  column-gap: 1rem;
}

.nav__item {
  margin-right: 15px;
}

.nav__item a {
  text-decoration: none;
  color: #000000;
}

.nav__item a:hover {
  color: #638c99;
}

.active {
  color: #144f9c !important;
}

.logo h2 {
  background: linear-gradient(-45deg, #61634e, #465d5fbe, #5a3f3f9a, #cc2020);
  background-size: 100% 100%;
  background-clip: text;
  -webkit-text-stroke: 3px transparent;
  -webkit-text-fill-color: #000000;
}

.nav__right .btn {
  padding: 7px 15px;
  background-color: rgba(199, 188, 158, 0.856);
  border: 1px solid #5142fc;
  border-radius: 50px;
}

.nav__right .btn a {
  color: #c90909 !important;
  text-decoration: none;
  font-size: 1rem;
}

.nav__right .btn span i {
  color: #7e5151;
}

.nav__right .btn a:hover {
  color: #fff;
}

.mobile__menu {
  color: #fff;
  font-size: 1.3rem;
  display: none;
}

@media only screen and (max-width: 768px) {
  .nav__list {
    display: none;
  }

  .mobile__menu {
    display: block;
    margin-right: 20px;
  }

  .nav__menu {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#5e81af6c, #5c8d8b83);
    z-index: 222222;
    display: none;
  }

  .active__menu {
    display: block;
  }

  .nav__list {
    position: absolute;
    top: 70px;
    right: 0;
    width: 100%;
    background: #343444;
    z-index: 333333;
    flex-direction: column;
    padding-top: 40px;
  }

  .nav__right {
    display: flex;
    align-items: center;
    padding: 20px;
  }

  .btn {
    padding: 4px 10px !important;
  }

  .btn a {
    font-size: 0.7rem !important;
  }
}
