#background_div {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: linear-gradient(
    to bottom right,
    #ffcc00,
    #ff6699,
    #9966ff,
    #00ccff
  );
}

#StyledForm {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  max-width: 1000px;
  width: 100%;
}

#CenteredContainer {
  display: grid;
  place-items: center;
  height: 100%;
}
