.login {
  /* background: url(../../public/time.jpg); */
  height: 100vh;
  margin-top: 150px;
  margin-left: 400px;
  margin-right: 400px;
  box-shadow: 1rem;
  background-color: #d1c3bb;
}

.login .h2 {
  color: black;
}

.login .Button {
  background-color: #d1c3bb;
}
